button {
    padding: 10px; 
    border: none; 
    background-color: #ff1c1c; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
    width: 100%;
}

button:hover {
    transform: scale(1.01)
}